    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <P>Hi! I'm a math/computer science student at the University of
                  Waterloo with a passion for solving interesting problems.</p>
                <P>I have interned with the Equity Portfolio Trading desk and
                  Retail Block Trading desk at CIBC Global Markets, optimizing
                  the buyback workflow and index research through building 3-tier
                  windows applications (C#, python, MS SQL). </p>
                <P>Serving as president of <a href="http://uwfarmsa.uwaterloo.ca/">
                  UW FARMSA</a>, I lead a team of 20 executives to plan events
                  such as employer networking sessions, skill-building tutorials,
                  and Vega, a risk advisory case competition that encourages
                  creativity and quantatitive strategies.</p>
                <P>I am also practicing coding through the
                  <a href="https://foobar.withgoogle.com/">
                    Google FooBar challenge</a> (level 3/5).</p>
                <P>Check out my
                  <a href="https://drive.google.com/file/d/0B_0nYTfwLbHcb1FIdmluV2Y5Sjg/view?usp=sharing">
                    experience</a> and get in touch at
                  <a href="https://chelsea.liu@uwaterloo.ca">
                    chelsea.liu@uwaterloo.ca</a>! :)</p>
            </div>
        </div>
    </section>
