    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <P>Hi! I'm a math student at the University of
                  Waterloo with a passion for solving interesting problems.</p>
                <P>My most recent internships were with the Equity Portfolio Trading desk and
                  Retail Block Trading desk at CIBC Global Markets, optimizing
                  block trade workflows and index research using C#, python, and SQL. </p>
                <P>Serving as president of <a href="http://uwfarmsa.uwaterloo.ca/">
                  UW FARMSA</a>, I lead a team of 20 executives to initiate and 
                    deliver industry network sessions, technical workshops, 
                    and market commentaries.</p>
                <P>Some exciting things I'm working on are organizing the Bayesian Case 
                    Comeptition (Canada's first student-led case competition on risk management) and 
                    practicing coding through the
                  <a href="https://foobar.withgoogle.com/">
                    Google FooBar Coding challenge</a> (level 3/5).</p>
                <P>Check out my
                  <a href="https://drive.google.com/open?id=0B_0nYTfwLbHcV2YzYWVGT0dnRXc">
                    experience</a> and get in touch at
                  <a href="https://chelsea.liu@uwaterloo.ca">
                    chelsea.liu@uwaterloo.ca</a>! :)</p>
            </div>
        </div>
    </section>
