<!-- Experience Section -->
<section id="experience" class="content-section text-center">
    <div class="experience-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <object data="/_files/Chelsea_Liu_F2017.pdf#page=1" type="application/pdf" width="100%" height="100%">
                 <p>This browser does not support PDFs - please <a href="/_files/Chelsea_Liu_F2017.pdf">download</a> to view.</p>
              </object>
            </div>
        </div>
    </div>
</section>
