    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Past Projects</h2>
                    <p>Gallery view to be developed... </p>
                    <p>Meanwhile, feel free to visit my
                      <a href="https://github.com/zchelseal/">github page</a>!</p>
                </div>
            </div>
        </div>
    </section>
