    <!-- Projects Section -->
    <section id="projects" class="content-section text-center">
        <div class="projects-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Past Projects</h2>
                    <p>to be developed... (and I don't mean this website I mean the actual projects)</p>
                    <!-- <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a> -->
                </div>
            </div>
        </div>
    </section>
